html{
    scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: 'Ubuntu', ;
}

.jt {
    padding-top: 125px;
    padding-bottom: 125px;
}

.App-link {
  color: #61dafb;
  display: inline;
}

.fp{
    margin-bottom: 50px;
}

.about {

    padding-top: 60px;
    margin-bottom: 100px;
}

.about h2{
    margin-top: 25px;
}

.headshot{
    max-width: 80%;
}

.expRow{
    margin-top:50px;
    margin-bottom:100px;
}
.expRow *{
	padding: 0px 20px;
}

.exph1{
    margin-top: 75px;
    margin-bottom:75px;
    font-size: 3.5em;
}

.listGroup{
	margin: 15px auto;
}

.employer{
	color: red;
	margin-bottom:25px;
}

.workterm{
	color: red;
	margin-top: 25px;
}

.dalLogo{
margin-top:70px;
margin-bottom:70px;
}

.funsportsLogo{
margin-top:80px;
margin-bottom:70px;
}

#filler{
    margin-top: 150px;
    min-height: 500px;
}

footer{
    background-color: #CCD8E5;
    font-weight: bold;
    padding:20px;
}
