html{
    scroll-behavior: smooth;
}

.App {
  text-align: center;
  font-family: 'Ubuntu', ;
}

.jt {
    padding-top: 125px;
    padding-bottom: 125px;
}

.App-link {
  color: #61dafb;
  display: inline;
}

.fp{
    margin-bottom: 50px;
}

.about {

    padding-top: 60px;
    margin-bottom: 100px;
}

.about h2{
    margin-top: 25px;
}

.headshot{
    max-width: 80%;
}

.expRow{
    margin-top:100px;
}

#filler{
    margin-top: 150px;
    min-height: 500px;
}

footer{
    background-color: #CCD8E5;
    font-weight: bold;
    padding:20px;
}
